---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body class="container">
    <Header title={SITE_TITLE} />
    <main>
      <h1>🧑‍🚀 Hello!</h1>
      <p>
        I'm Quan, and welcome to my blog! I'm passionate about technology and
        love exploring the latest advancements in the field. Join me as I share
        my thoughts and insights on all things tech.
      </p>
    </main>
    <Footer />
  </body>
</html>
