---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE } from "../consts";
import { ModeToggle } from "@/components/react/ModeToggle";
---

<header>
  <div class="flex justify-between border-b-[1px] items-center my-2">
    <nav class="flex gap-x-2">
      <HeaderLink href="/">Home</HeaderLink>
      <HeaderLink href="/blog">Blog</HeaderLink>
      <HeaderLink href="/repositories">Repositories</HeaderLink>
    </nav>
    <ModeToggle client:load />
  </div>
</header>
